html {
  font-family: sans-serif;
}

.random-btn {
  margin-top: 24px;
}

.pokemon-details {
  margin-top: 24px;

  max-width: 300px;
  padding: 8px;

  border: 10px solid #e4c937;
  border-radius: 10px;
  background-image: linear-gradient(#eada9d 0%, #eee9d1 50%, #eada9d 100%);
}

.pokemon-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-hp-container {
  display: flex;
  align-items: center;
}

.pokemon-details-image {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

.pokemon-details-header h1 {
  margin: 0;
  font-size: 20px;
}

.pokemon-details-header h2 {
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
}

.pokemon-type h3 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: serif;
}
