.green {
  background-color: #037171;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.purple {
  background-color: #7D7ABC;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lime {
  background-color: #8FCB9B;
}

.pink {
  background-color: #FFAFC5;
}

.box-1 {
  display: flex;
  justify-content: flex-end;
}

.box-2 {
  display: flex;  
}

.blue {
  background-color: #2EC0F9;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.numbers1 {
  display: flex;
}

.numbers2 {
  display: flex;
  justify-content: space-evenly;
}
