.green {
  height: 50px;
  background-color: #037171;
}

.purple {
  height: 50px;
  background-color: #7D7ABC;
}

.lime {
  height: 50px;
  background-color: #8FCB9B;
}

.pink {
  height: 50px;
  background-color: #FFAFC5;
}

.blue {
  height: 50px;
  background-color: #2EC0F9;
}
