.green {
  background-color: #037171;
  height: 100px;
}

.alert {
  position: fixed;
  background-color: red;
  top: 5px;
  right: 5px;
  text-align: center;
  padding: 5px;
}

.purple {
  background-color: #7D7ABC;
  height: 100px;
}

.lime {
  background-color: #8FCB9B;
  display: flex;
  justify-content: space-between;
}

.pink {
  background-color: #FFAFC5;
}

.blue {
  background-color: #2EC0F9;
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav a {
  padding: 10px;
}

img {
  width: 150px;
  height: auto;
}

/* .toast-message {
  display: flex;
  justify-content: center;
} */